.brand{
    background: #cbb09c !important
}

.brand-text{
    color: #cbb09c !important;
}
form{
    max-width: 600px;
    margin:20px auto;
    padding: 20px;
}

div input[type="radio"]:checked + label {
    font-weight: bold; /
}

.card-link {
    text-decoration: none; 
    color: inherit; 
}

.card-link:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.3);
}



